.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    align-content: center;
}

input, label{
    margin-right: 550px !important;
    margin-left: 550px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.first{
    margin-top: 250px !important;
}